services:
  postgres:
    container_name: cinetra-postgres
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/18/docker
    ports:
      - 5432:5432

    migrate:
      container_name: cinetra-migrate
      build: .
      restart: never
      environment:
        DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
      depends_on:
        postgres:
          condition: service_healthy
      command: ["npx", "prisma", "migrate", "deploy"]

  app:
    container_name: cinetra-app
    build: .
    restart: unless-stopped
    environment:
      PORT: ${PORT}
      NODE_ENV: ${NODE_ENV}
      JWT_SECRET: ${JWT_SECRET}
      API_AUTHORIZATION: ${API_AUTHORIZATION}
      DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
    depends_on:
      migrate:
        condition: service_completed_successfully
    ports:
      - "${PORT}:${PORT}"

volumes:
  pgdata:
