services:
  postgres:
    container_name: cinetra-postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: unless-stopped

  backend:
    container_name: cinetra-server
    build: .
    env_file: .env
    depends_on:
      - postgres
    ports:
      - "${PORT}:${PORT}"
    restart: unless-stopped

volumes:
  pgdata:
