/************** App **************/
.app {
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

.app > input[name="search"] {
  margin-bottom: 1rem;
  display: block;
  margin-inline: auto;
}

.input-group {
  margin: 10px 0;
  position: relative;
}

.input-group > * {
  display: block;
}

/************** Modal **************/
.modal-background {
  background-color: #00000080;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modal {
  background: #212121;
  padding: 1rem;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  max-height: 90vh;
  overflow: auto;
}

.modal textarea,
.modal input {
  width: 100%;
}

.overview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overview + a {
  display: inline;
  color: #5eb4ff;
}

.overview + a:visited {
  color: #5eb4ff;
}

/************** Shows **************/
.shows {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
}

.show {
  aspect-ratio: 2/3;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.show::after {
  content: "";
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  position: absolute;
  inset: 50% 0 0 0;
  /* z-index: 1; */
}

.show h2 {
  width: 12ch;
  color: white;

  font-size: 1rem;
  font-weight: normal;

  position: absolute;
  bottom: 0;
  left: 0.5rem;
  z-index: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchResult {
  background-color: #161616;
  position: absolute;
  width: 100%;
  max-height: 17.5rem;
  overflow: scroll;
  z-index: 3;
}

.searchResult > div {
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #353535;
}

.searchResult > div:hover {
  background-color: #202020;
}

.searchResult img {
  height: 3.8rem;
}

.searchResult p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.searchResult img {
  aspect-ratio: 3/4;
}

.searchResult > div > div > p:nth-child(2) {
  -webkit-line-clamp: 2;
  font-size: 0.85rem;
  font-weight: 300;
}

.heart {
  width: 1.5rem;
  aspect-ratio: 1;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}
